@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  font-family: "Josefin Sans", cursive;
  box-sizing: border-box;
}

img {
  width: 10px;
  height: 10px;
}

body {
  weight: 100vh;
  height: 60vh;
  color: black;
  margin: auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
}

body::after {
  content: "";
  display: table;
  clear: both;
}

.Your-Result {
  text-align: center;
  margin-top: 10%;
  color: white;
}

.ResultTitle {
  margin-bottom: 10%;
}

.Score-Result {
  height: 160px;
  width: 160px;
  line-height: 60px;
  -moz-border-radius: 120px;
  border-radius: 120px;
  background-image: linear-gradient(
    179deg,
    #3f0cbbff 0%,
    #450ecaff 32%,
    #450eca00 99%
  );
  padding-left: 15px;
  padding-top: 35px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.Your-Result .Score {
  font-size: 55px;
}

.Percentage {
  opacity: 0.5;
}

.Evaluation {
  margin-top: 5%;
  font-size: 25px;
}

.Details {
  opacity: 0.7;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.Summary {
  margin-top: 8%;
  margin-left: 8%;
  height: 10%;
}

.Continue {
  width: 100%;
  margin-top: 12%;
  margin-bottom: 5%;
  margin-left: 8%;
  padding-right: 5%;
}
.Continue button {
  width: 85%;
  color: white;
  border: none;
  text-align: center;
  background: #696969;
  line-height: 60px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
button:hover,
button:focus-visible {
  background-image: linear-gradient(206deg, #a100ffff 0%, #5a16feff 26%);
}

.wrapper {
  display: grid;
  gap: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.Item {
  display: flex;
  align-items: center;
  vertical-align: middle;
  background-color: #fff8dc;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.Reaction .Item {
  background-color: #ffe8ec;
}
.Memory .Item {
  background-color: #fdfbed;
}
.Verbal .Item {
  background-color: #d3f8f6;
}
.Visual .Item {
  background-color: #dbd6fa;
}
.Aspect {
  width: 140px;
}
.Reaction .Aspect {
  color: #ffc0cb;
}
.Memory .Aspect {
  color: #f0e68c;
}
.Verbal .Aspect {
  color: #20b2aa;
}
.Visual .Aspect {
  color: #7b68ee;
}

.Symbol {
  /*   width: 15%; */
  /*   border-spacing: 100; */
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  /*   border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
}
.Symbol img {
  width: 30px;
  height: 30px;
}
.Value {
  text-align: right;
  padding-left: 35%;
  padding-right: 5%;
  width: 15%;
}
.Percent {
  text-align: right;
  padding-right: 5%;
  /*   border-top-right-radius: 10px; */
  /*   border-bottom-right-radius: 10px; */
  width: 45%;
  color: gray;
}

.Background-left {
  width: 50%;
  height: 100%;
  float: left;
  background-image: linear-gradient(206deg, #a100ffff 0%, #5a16feff 26%);
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 0px;
}

.Background-right {
  width: 50%;
  height: 100%;
  float: left;
  background-color: white;
  padding: 0px;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 5px 5px #e6e6fa;
}
@media screen and (max-height: 500px) {
  .Background-left {
    width: 50%;
    height: auto;
    -moz-border-radius: 10px;
    border-radius: 20px 20px 20px 20px;
  }
  .Background-right {
    width: 50%;
    height: auto;
    border-radius: 20px;
  }
  body {
    weight: 160vh;
    height: 160vh;
    color: black;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .Continue {
    width: 100%;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 8%;
    padding-right: 5%;
  }
  .Your-Result {
    text-align: center;
    margin-top: 5%;
    color: white;
  }

  .ResultTitle {
    margin-bottom: 5%;
  }

  .Score-Result {
    height: 160px;
    width: 160px;
    line-height: 60px;
    -moz-border-radius: 120px;
    border-radius: 120px;
    background-image: linear-gradient(
      179deg,
      #3f0cbbff 0%,
      #450ecaff 32%,
      #450eca00 99%
    );
    padding-left: 15px;
    padding-top: 35px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .Your-Result .Score {
    font-size: 55px;
  }

  .Percentage {
    opacity: 0.5;
  }

  .Evaluation {
    margin-top: 5%;
    font-size: 25px;
  }

  .Details {
    opacity: 0.7;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 800px) {
  body {
    weight: 60vh;
    height: 60vh;
    color: black;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .Continue {
    width: 100%;
    margin-top: 14%;
    margin-bottom: 8%;
    margin-left: 8%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 600px) {
  .Background-left {
    width: 100%;
    height: auto;
    -moz-border-radius: 10px;
    border-radius: 0px 0px 20px 20px;
  }
  .Background-right {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }
  body {
    weight: 60vh;
    height: 60vh;
    color: black;
    margin: auto;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .Your-Result {
    text-align: center;
    margin-top: 0%;
    color: white;
  }

  .ResultTitle {
    margin-bottom: 0%;
  }

  .Score-Result {
    height: 160px;
    width: 160px;
    line-height: 60px;
    -moz-border-radius: 120px;
    border-radius: 120px;
    background-image: linear-gradient(
      179deg,
      #3f0cbbff 0%,
      #450ecaff 32%,
      #450eca00 99%
    );
    padding-left: 15px;
    padding-top: 35px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .Your-Result .Score {
    font-size: 55px;
  }

  .Percentage {
    opacity: 0.5;
  }

  .Evaluation {
    margin-top: 0%;
    font-size: 25px;
  }

  .Details {
    opacity: 0.7;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
    margin-bottom: 5%;
  }
  .Symbol {
    /*   width: 15%; */
    /*   border-spacing: 100; */
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    /*   border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
  }
  .Symbol img {
    width: 30px;
    height: 30px;
  }
  .Value {
    padding-left: 35%;
    width: 15%;
  }
  .Percent {
    text-align: right;
    padding-right: 5%;
    width: 55%;
    color: gray;
  }
  .Summary {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 8%;
    height: 10%;
  }
  .Continue {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 5%;
    margin-left: 10%;
  }
}

.Aspect {
  width: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
